.callback {
  &__content {
    display: grid;
    grid-template-columns: repeat(3, 29.3%);
    grid-gap: calc((100% - 87.9%) / 2);
    list-style: none;
    @include w1200 {
      grid-template-columns: repeat(3, calc((100% - 7.2rem) / 3));
      grid-gap: 3.6rem;
    }
    @include w1023 {
      grid-template-columns: 100%;
      grid-gap: 3.2rem;
    }
    @include w767 {
      grid-gap: 3.2rem;
    }
  }
  &__item {
    background-color: var(--background-card);
    border-radius: 0.8rem;
    &:first-child {
      display: flex;
      grid-column: 1 / 3;
      padding: 3.4rem 3.2rem 5.2rem 5.2rem;
      @include w1200 {
        padding: 3.4rem 3.2rem 5.2rem;
      }
      @include w1023 {
        display: grid;
        grid-template-columns: repeat(2, calc((100% - 3.6rem) / 2));
        grid-gap: 3.6rem;
        grid-column: auto;
        padding: 3.2rem 3.2rem 5.2rem;
      }
      @include w767 {
        display: block;
        width: calc(100% + 3rem);
        margin-left: -1.5rem;
        padding: 4.4rem 1.5rem 3.2rem;
      }
    }
    &:last-child {
      padding: 3.4rem 3.2rem 3rem;
      box-shadow: 0 0.8rem 3.2rem rgb(0, 0, 0, 0.12);
      @include w1023 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding: 0 3.2rem;
        box-shadow: none;
        background-color: transparent;
      }
      @include w767 {
        padding: 0;
      }
    }
  }
  &__col {
    display: flex;
    flex-direction: column;
    &:first-child {
      padding-right: 5rem;
      @include w1200 {
        padding-right: 2rem;
      }
      @include w1023 {
        padding-right: 0;
      }
      @include w767 {
        margin-bottom: 3.2rem;
      }
    }
    &:last-child {
      flex: 0 0 28.8rem;
      justify-content: space-between;
      @include w1023 {
        flex: auto;
      }
    }
    .input-block {
      @include w1023 {
        margin-bottom: 1.6rem;
      }
      label {
        background-color: var(--background-card);
      }
      input {
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
          box-shadow: 0 0 0 1000px var(--background-card) inset;
          -webkit-box-shadow: 0 0 0 1000px var(--background-card) inset;
          transition: background-color 5000s ease-in-out 0s;
          -webkit-text-fill-color: var(--black-text);
        }
      }
    }
  }
  &__title {
    margin-bottom: auto;
    @include w767 {
      margin-bottom: 3.6rem;
    }
  }
  &__text {
    font-size: 2rem;
    line-height: 1.6;
    color: var(--grey-text);
    @include w767 {
      font-size: 1.6rem;
      line-height: 1.5;
    }
  }
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 0;
    @include w767 {
      padding: 1rem 0;
    }
    svg {
      width: 2.4rem;
      height: 2.4rem;
      margin-right: 1rem;
      @include w767 {
        width: 2rem;
        height: 2rem;
      }
    }
  }
  &__btns {
    @include w1023 {
      order: 1;
      display: grid;
      grid-template-columns: repeat(2, calc((100% - 3.6rem) / 2));
      grid-gap: 3.6rem;
      width: 100%;
      margin-top: 3.2rem;
    }
    @include w767 {
      display: block;
      margin-top: 2.4rem;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0.8rem 0;
    transition: 0.2s;
    @include w767 {
      padding: 1rem 0;
    }
    &--whatsapp {
      @include hover {
        &:hover,
        &:focus {
          color: var(--background);
          background: #25d366;
        }
        &:active {
          color: var(--background);
          background: #1a9447;
        }
      }
      @include active {
        &:active {
          color: var(--background);
          background: #1a9447;
        }
      }
    }
    &--viber {
      @include hover {
        &:hover,
        &:focus {
          color: var(--background);
          background: #7360f2;
        }
        &:active {
          color: var(--background);
          background: #5547b3;
        }
      }
      @include active {
        &:active {
          color: var(--background);
          background: #5547b3;
        }
      }
    }
    & + & {
      margin-top: 1.6rem;
      @include w1023 {
        margin-top: 0;
      }
      @include w767 {
        margin-top: 1.6rem;
      }
    }
    svg {
      width: 2.4rem;
      height: 2.4rem;
      margin-right: 1rem;
      @include w767 {
        width: 2rem;
        height: 2rem;
      }
    }
  }
  &__label {
    display: flex;
    cursor: pointer;
    margin-top: 3rem;
    @include w1023 {
      margin-top: 0;
    }
    input {
      &:checked + span:after {
        content: '';
        position: absolute;
        top: 0.8rem;
        left: 0.7rem;
        width: 1rem;
        height: 0.5rem;
        border-left: 0.2rem solid var(--black-line);
        border-bottom: 0.2rem solid var(--black-line);
        transform: rotate(-45deg);
      }
      &:focus + span {
        color: var(--orange);
      }
      &.input-err + span:before {
        border-color: var(--error);
      }
      &.input-ok + span:before {
        border-color: var(--black-line);
      }
    }
    span {
      position: relative;
      display: block;
      padding-left: 4rem;
      transition: color 0.2s;
      @include hover {
        &:hover {
          color: var(--orange);
        }
        &:active {
          color: var(--orange-click);
        }
      }
      @include active {
        &:active {
          color: var(--orange-click);
        }
      }
      &:before {
        content: '';
        position: absolute;
        top: 0.2rem;
        left: 0.2rem;
        width: 2rem;
        height: 2rem;
        border: 0.2rem solid var(--black-line);
        border-radius: 0.3rem;
      }
    }
  }
}
