.footer {
  margin-bottom: 5.2rem;
  @include w767 {
    margin-bottom: 0;
    background-color: var(--background-card);
  }
  &__wrap {
    padding: 3.2rem 5.2rem 5.2rem;
    background-color: var(--background-card);
    @include w1200 {
      padding: 3.2rem;
    }
    @include w767 {
      position: relative;
      padding: 3.2rem 0 16.8rem;
    }
  }
  &__content {
    display: grid;
    grid-template-columns: repeat(3, 28.8rem);
    grid-gap: 3.2rem calc((100% - 28.8rem * 3) / 2);
    @include w1200 {
      grid-template-columns: repeat(3, calc((100% - 7.2rem) / 3));
      grid-gap: 3.2rem 3.6rem;
    }
    @include w1023 {
      grid-template-columns: repeat(2, calc((100% - 3.6rem) / 2));
    }
    @include w767 {
      grid-template-columns: 100%;
    }
  }
  &__item {
    display: flex;
    flex-direction: column;
    &:first-child {
      grid-row: 1 / 3;
      @include w767 {
        grid-row: auto;
      }
      .footer__list {
        margin-bottom: auto;
        @include w1023 {
          margin-bottom: 0;
        }
      }
    }
    &:last-child {
      grid-column: 2 / 4;
      @include w1023 {
        grid-column: 1 / 3;
      }
      @include w767 {
        grid-column: auto;
      }
      .footer__title {
        margin-top: auto;
      }
    }
  }
  &__title {
    margin-bottom: 1.6rem;
    font-weight: 500;
    font-size: 2.4rem;
    color: var(--orange);
    @include w767 {
      font-size: clamp(2rem, calc(2rem + 0.4 * (100vw - 36rem) / 40.8), 2.4rem);
      line-height: 1.3;
    }
  }
  &__list {
    padding: 2.9rem;
    list-style: none;
    border: 0.3rem solid var(--platinum);
    border-radius: 0.8rem;
    @include w767 {
      padding: 2.1rem;
    }
  }
  &-list {
    &__item {
      &:not(:last-child) {
        margin-bottom: 1.6rem;
      }
    }
    &__link {
      font-weight: 500;
      @include hover {
        &:hover,
        &:focus {
          color: var(--orange);
        }
        &:active {
          color: var(--orange-click);
        }
      }
      @include active {
        &:active {
          color: var(--orange-click);
        }
      }
    }
  }
  &__absolut {
    @include w767 {
      position: absolute;
      bottom: 3.2rem;
      width: 100%;
    }
  }
  &__socials {
    display: flex;
    margin-top: 3.2rem;
    padding-left: 0;
    list-style: none;
  }
  &-socials {
    &__item {
      &:not(:last-child) {
        margin-right: 2.4rem;
      }
    }
    &__link {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 4rem;
      height: 4rem;
      @include hover {
        &:hover,
        &:focus {
          color: var(--orange);
        }
        &:active {
          color: var(--orange-click);
        }
      }
      @include active {
        &:active {
          color: var(--orange-click);
        }
      }
      svg {
        width: 2.4rem;
        height: 2.4rem;
      }
    }
  }
  &__copy {
    display: block;
    margin-top: 2rem;
    margin-left: 0.8rem;
    padding-top: 2.1rem;
    border-top: 0.3rem solid var(--platinum);
    color: var(--silver);
    @include w1023 {
      margin-left: 0;
    }
    @include w767 {
      display: block;
      margin-top: 2.1rem;
      padding-top: 2rem;
    }
  }
  &__info {
    display: flex;
    justify-content: space-between;
    padding: 2.9rem;
    border: 0.3rem solid var(--platinum);
    border-radius: 0.8rem;
    @include w1023 {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 3.6rem;
    }
    @include w767 {
      display: block;
      padding: 2.1rem;
    }
  }
  &__col {
    flex: 0 0 25.6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    @include w1023 {
      width: 27.9rem;
    }
    @include w767 {
      flex: auto;
      width: auto;
    }
    &:last-child {
      @include w1023 {
        padding-right: 4rem;
      }
      @include w767 {
        margin-top: 2rem;
        padding-right: 0;
      }
    }
  }
  &__link {
    display: flex;
    &:is(a) {
      @include hover {
        &:hover,
        &:focus {
          color: var(--orange);
        }
        &:active {
          color: var(--orange-click);
        }
      }
      @include active {
        &:active {
          color: var(--orange-click);
        }
      }
    }
    & + & {
      margin-top: 1.6rem;
      @include w767 {
        margin-top: 2rem;
      }
    }
    svg {
      width: 2.4rem;
      height: 2.4rem;
      flex-shrink: 0;
      margin-right: 1.6rem;
      @include w767 {
        width: 2rem;
        height: 2rem;
      }
    }
  }
  &__terms {
    order: 2;
    padding: 0.8rem 3.2rem;
    background: var(--platinum);
    border-radius: 0.4rem;
    font-weight: 500;
    @include hover {
      &:hover,
      &:focus {
        color: var(--orange);
      }
      &:active {
        color: var(--orange-click);
      }
    }
    @include active {
      &:active {
        color: var(--orange-click);
      }
    }
    & + .footer__list {
      padding-bottom: 3.2rem;
      border-radius: 0.8rem 0.8rem 0 0;
      border-bottom: 0;
      @include w767 {
        padding-bottom: 2rem;
      }
    }
  }
}
