.popup-buy {
  max-width: 120rem;
  max-height: 52.8rem;
  padding: 0 2.5rem 0 0.7rem;
  @include w1200 {
    padding: 0 2.4rem 0 0;
  }
  @include w1023 {
    width: 45.4rem;
    max-height: none;
    padding: 5.4rem 7.2rem 7.2rem;
  }
  @include w767 {
    width: 100%;
    padding: 4.3rem 3.2rem 5.2rem;
  }
  & > .carousel__button.is-close {
    width: 4rem;
    height: 4rem;
    top: 5.2rem;
    right: 5.2rem;
    @include w767 {
      top: 3.6rem;
      right: 3.2rem;
    }
    svg {
      color: var(--black-line);
      filter: none;
    }
  }
  &__content {
    display: grid;
    grid-template-columns: 37.2rem 1fr 37.2rem;
    @include w1200 {
      grid-template-columns: 30rem 1fr 30rem;
    }
    @include w1023 {
      grid-template-columns: auto;
    }
  }
  &__colwrap {
    position: relative;
    &:hover,
    &:active {
      &:before {
        pointer-events: none;
        opacity: 0 !important;
      }
    }
    @include w1023 {
      max-height: none;
    }
    &:not(:last-child) {
      @include w1023 {
        display: none;
      }
      &:before {
        content: '';
        position: absolute;
        z-index: 2;
        top: 0;
        left: 0;
        width: calc(100% - 0.3rem);
        height: 100%;
        background: rgba(255, 255, 255, 0.72);
        opacity: 1;
        transition: opacity 0.2s;
        @include w1200 {
          display: none;
        }
      }
    }
    &:last-child {
      padding-top: 5.4rem;
      @include w1023 {
        padding-top: 0;
      }
      .popup-buy__name {
        display: none;
        @include w1023 {
          display: block;
          margin-bottom: 3.2rem;
        }
        @include w767 {
          margin-bottom: 2.4rem;
        }
      }
      .popup-buy__col {
        height: 41rem;
        padding-top: 0.6rem;
        @include w1023 {
          height: auto;
          padding: 0;
        }
        &::-webkit-scrollbar-thumb {
          background: none;
          box-shadow: inset 0 0 2.5rem #3e3e3e;
          border-radius: 0.3rem;
          border-top: none;
          border-bottom: 5.2rem solid transparent;
        }
        &::-webkit-scrollbar-track {
          background: var(--platinum);
          border-radius: 0.3rem;
          border-top: none;
          border-bottom: 5.2rem solid var(--background);
        }
      }
    }
  }
  &__col {
    height: 52.8rem;
    padding: 5.2rem 2.4rem 5.2rem 4.5rem;
    overflow-y: auto;
    @include w1200 {
      padding: 5.2rem 2.4rem;
    }
    @include w1023 {
      overflow: visible;
    }
    &::-webkit-scrollbar {
      width: 0.3rem;
    }
    &::-webkit-scrollbar-thumb {
      background: none;
      box-shadow: inset 0 0 2.5rem #3e3e3e;
      border-radius: 0.3rem;
      border-top: 5.2rem solid transparent;
      border-bottom: 5.2rem solid transparent;
    }
    &::-webkit-scrollbar-track {
      background: var(--platinum);
      border-radius: 0.3rem;
      border-top: 5.2rem solid var(--background);
      border-bottom: 5.2rem solid var(--background);
    }
    .input-block {
      margin-bottom: 1.6rem;
      input {
        &:-webkit-autofill,
        &:-webkit-autofill:hover,
        &:-webkit-autofill:focus,
        &:-webkit-autofill:active {
          box-shadow: 0 0 0 1000px var(--background) inset;
          -webkit-box-shadow: 0 0 0 1000px var(--background) inset;
          transition: background-color 5000s ease-in-out 0s;
          -webkit-text-fill-color: var(--black-text);
        }
        &:not(:placeholder-shown) + label,
        &:focus + label {
          background-color: var(--background);
        }
      }
    }
    .callback__label {
      margin-top: 0;
    }
  }
  &__title {
    font-weight: 600;
    font-size: 2.4rem;
    margin-bottom: 2.8rem;
    padding-left: 4.5rem;
    color: var(--black-text);
    @include w1023 {
      margin-bottom: 5.4rem;
      padding-left: 0;
    }
    @include w767 {
      margin-bottom: 4.3rem;
      font-size: 2rem;
    }
  }
  &__name {
    font-weight: 600;
    margin-bottom: 5.2rem;
    &--tablet {
      display: none;
    }
  }
  &__images {
    padding-left: 0;
    list-style: none;
  }
  &-images {
    &__item {
      &:not(:last-child) {
        margin-bottom: 5.2rem;
        @include w1200 {
          margin-bottom: 2.4rem;
        }
      }
    }
    &__picture {
      position: relative;
      display: block;
      padding-bottom: 100%;
      border: 0.3rem solid rgba(0, 0, 0, 0.04);
      border-radius: 0.4rem;
    }
    &__img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  &__row {
    display: flex;
    .input-block {
      flex: 1;
      margin-bottom: 0;
    }
  }
  &__btnnum {
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4rem;
    height: 4rem;
    margin-left: 2.4rem;
    svg {
      width: 2.4rem;
      height: 2.4rem;
    }
  }
  &__receiving {
    display: flex;
    cursor: pointer;
    &:first-child {
      margin-right: 3.4rem;
    }
    input {
      &:checked + span:after {
        opacity: 1;
      }
      &:focus + span {
        color: var(--orange);
      }
    }
    span {
      position: relative;
      display: flex;
      align-items: center;
      font-weight: 500;
      transition: color 0.2s;
      @include hover {
        &:hover {
          color: var(--orange);
        }
        &:active {
          color: var(--orange-click);
        }
      }
      @include active {
        &:active {
          color: var(--orange-click);
        }
      }
      &:before {
        content: '';
        width: 2rem;
        height: 2rem;
        margin-right: 1rem;
        border-radius: 50%;
        border: 0.2rem solid var(--black-line);
      }
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0.6rem;
        transform: translateY(-50%);
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 50%;
        background-color: var(--black-line);
        opacity: 0;
        transition: opacity 0.2s;
      }
    }
  }
  &__delivery {
    margin-top: 2.4rem;
    .input-block {
      margin-bottom: 0;
    }
  }
  &__pickup {
    margin-top: 2.4rem;
  }
  &__btn {
    width: 100%;
    margin-top: 2.4rem;
    margin-bottom: 1.6rem;
    padding: 0.8rem 0;
    @include w767 {
      padding: 1rem 0;
    }
  }
}
