.popup-filters {
  display: flex;
  flex-direction: column;
  width: 45.4rem;
  max-height: 70rem;
  height: 90vh;
  padding: 5.2rem 7.2rem 7.2rem;
  @include w767 {
    width: 100%;
    padding: 3.6rem 3.2rem 5.2rem;
  }
  & > .carousel__button.is-close {
    width: 4rem;
    height: 4rem;
    top: 5.2rem;
    right: 7.2rem;
    @include w767 {
      top: 3.6rem;
      right: 3.2rem;
    }
    svg {
      color: var(--black-line);
      filter: none;
    }
  }
  &__title {
    margin-bottom: 5.4rem;
    font-weight: 600;
    font-size: 2.4rem;
    color: var(--black-text);
    @include w767 {
      margin-bottom: 4.3rem;
      font-size: 2rem;
    }
  }
  &__wrap {
    position: relative;
    flex: 1;
    width: calc(100% + 14.4rem);
    max-height: calc(100% - 16.2rem);
    margin-left: -7.2rem;
    margin-bottom: auto;
    @include w767 {
      width: calc(100% + 6.4rem);
      max-height: calc(100% - 15.4rem);
      margin-left: -3.2rem;
    }
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: calc(100% - 0.4rem);
      height: 4rem;
      background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, #ffffff 100%);
    }
  }
  &__list {
    height: 100%;
    padding: 0 7.2rem 4rem;
    list-style: none;
    overflow-y: scroll;
    @include w767 {
      padding: 0 3.2rem 4rem;
    }
    &::-webkit-scrollbar {
      width: 0.3rem;
    }
    &::-webkit-scrollbar-thumb {
      background: none;
      box-shadow: inset 0 0 2.5rem #3e3e3e;
      border-radius: 0.3rem;
    }
    &::-webkit-scrollbar-track {
      background: var(--platinum);
      border-radius: 0.3rem;
    }
  }
  &__item {
    border-top: 0.3rem solid var(--platinum);
    &.accordion--active {
      .popup-filters-item__title {
        svg {
          &:last-child {
            transform: scale(-1);
          }
        }
      }
    }
    &.checked {
      .popup-filters-item__title {
        svg {
          &:first-child {
            color: var(--orange);
          }
        }
      }
    }
  }
  &-item {
    &__title {
      width: 100%;
      display: flex;
      align-items: center;
      padding: 2rem 3.2rem;
      border: none;
      background: none;
      cursor: pointer;
      font-weight: 600;
      transition: color 0.2s;
      @include hover {
        &:hover,
        &:focus {
          color: var(--orange);
        }
        &:active {
          color: var(--orange-click);
        }
      }
      @include active {
        &:active {
          color: var(--orange-click);
        }
      }
      @include w767 {
        padding: 2.2rem 3.2rem;
      }
      svg {
        width: 2.4rem;
        height: 2.4rem;
        @include w767 {
          width: 2rem;
          height: 2rem;
        }
        &:first-child {
          margin-right: 1.6rem;
          color: var(--grey-text);
          transition: color 0.2s;
        }
        &:last-child {
          margin-left: auto;
          color: var(--black-line);
          transition: transform 0.2s;
        }
      }
    }
    &__content {
      overflow: hidden;
      transition: height 0.3s;
    }
    &__list {
      padding: 1.6rem 3.2rem 3.2rem;
      list-style: none;
    }
    &__label {
      display: flex;
      width: 100%;
      input {
        &:focus + span {
          color: var(--orange);
        }
        &:checked + span {
          &:before {
            border-color: var(--orange);
          }
          &:after {
            opacity: 1;
          }
        }
      }
      span {
        position: relative;
        display: flex;
        width: 100%;
        align-items: center;
        padding: 0.8rem 1.6rem 0.8rem 3.8rem;
        cursor: pointer;
        font-weight: 500;
        color: var(--black-text);
        transition: color 0.2s;
        @include hover {
          &:hover {
            color: var(--orange);
          }
          &:active {
            color: var(--orange);
          }
        }
        @include active {
          &:active {
            color: var(--orange-click);
          }
        }
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
          width: 2rem;
          height: 2rem;
          border-radius: 0.2rem;
          border: 0.2rem solid var(--black-line);
          transition: border-color 0.1s;
        }
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 0.5rem;
          transform: translateY(-60%) rotate(-45deg);
          width: 1rem;
          height: 0.5rem;
          border-left: 0.2rem solid var(--orange);
          border-bottom: 0.2rem solid var(--orange);
          opacity: 0;
          transition: opacity 0.1s;
        }
      }
    }
  }
  &__btn {
    position: relative;
    display: none;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 0.8rem 0;
    @include w767 {
      padding: 1rem 0;
    }
    &--clear {
      margin-bottom: -3.2rem;
      @include w767 {
        margin-bottom: -2.2rem;
      }
      &:before {
        content: '';
        position: absolute;
        top: -1.2rem;
        right: -1.2rem;
        width: 2.4rem;
        height: 2.4rem;
        background-color: var(--orange);
        border-radius: 50%;
        border: 0.6rem solid var(--background);
      }
    }
    &.active {
      display: flex;
    }
    & + & {
      margin-top: 2.4rem;
    }
    svg {
      width: 2.4rem;
      height: 2.4rem;
      margin-right: 1rem;
      @include w767 {
        width: 2rem;
        height: 2rem;
      }
    }
  }
}
