.info {
  &__reviews {
    filter: drop-shadow(0 0.8rem 3.2rem rgba(0, 0, 0, 0.12));
    @include w767 {
      filter: none;
      box-shadow: 0 0 2.4rem rgba(0, 0, 0, 0.12);
    }
  }
  &-reviews {
    &__top {
      display: flex;
      align-items: center;
      margin-bottom: 4.8rem;
      @include w767 {
        padding-right: 3.2rem;
      }
    }
    &__title {
      margin-bottom: 0;
      @include w767 {
        margin-right: auto;
      }
    }
    &__link {
      display: flex;
      align-items: center;
      margin-left: auto;
      padding: 0.8rem 2rem;
      transition: color 0.2s, background 0.2s;
      @include hover {
        &:hover,
        &:focus {
          color: var(--background);
          background: var(--blue);
          svg {
            color: var(--background);
          }
        }
        &:active {
          color: var(--background);
          background: var(--blue-click);
          svg {
            color: var(--background);
          }
        }
      }
      @include active {
        &:active {
          color: var(--background);
          background: var(--blue-click);
          svg {
            color: var(--background);
          }
        }
      }
      @include w767 {
        position: absolute;
        right: 1.5rem;
        bottom: -6.4rem;
        left: 1.5rem;
        justify-content: center;
        padding: 1rem 0;
      }
      svg {
        width: 2.4rem;
        height: 2.4rem;
        margin-right: 1rem;
        transition: color 0.2s;
        color: var(--blue);
        @include w767 {
          width: 2rem;
          height: 2rem;
        }
      }
    }
    &__arr {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 4rem;
      height: 4rem;
      margin-left: 2.4rem;
      @include hover {
        &:hover,
        &:focus {
          color: var(--blue);
        }
        &:active {
          color: var(--blue-click);
        }
      }
      @include active {
        &:active {
          color: var(--blue-click);
        }
      }
      svg {
        width: 2.4rem;
        height: 2.4rem;
      }
    }
    &__slider {
      @include w767 {
        overflow: visible;
      }
    }
    &__slide {
      display: flex;
      height: auto;
      padding: 3.2rem;
      background: var(--background);
      border-radius: 8px;
      @include w767 {
        display: block;
        padding: 4rem 3.2rem 2.4rem;
      }
    }
    &-slide {
      &__col {
        display: flex;
        flex-direction: column;
        align-items: center;
        flex-shrink: 0;
        margin-right: 3.2rem;
        @include w767 {
          flex-direction: row;
          margin-top: -6.4rem;
          margin-right: 0;
          margin-bottom: 1.6rem;
        }
      }
      &__ava {
        width: 4.8rem;
        height: 4.8rem;
        margin-bottom: 1.2rem;
        border-radius: 50%;
        @include w767 {
          margin-right: 1.6rem;
          margin-bottom: 0;
        }
      }
      &__rate {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 2.4rem;
        color: var(--blue);
        svg {
          width: 2.4rem;
          height: 2.4rem;
          margin-left: 0.5rem;
        }
      }
      &__text {
        display: -webkit-box;
        -webkit-line-clamp: 5;
        -webkit-box-orient: vertical;
        overflow: hidden;
      }
    }
  }
}
