li.card
  a.card__link(href="#")
    picture.card__picture
      source(srcset="/static/images/card1.webp" type="image/webp")
      img.card__img(src="/static/images/card1.png" alt="Европоддон фумигированный EUR EPAL ГОСТ 33757-2016, 2 сорт")
    .card__top
      .card__info
        svg
          use(xlink:href="#card-size")
        | 1200×800
      .card__info
        svg
          use(xlink:href="#card-weight")
        | 2500 кг
    p.card__name Европоддон фумигированный EUR EPAL ГОСТ 33757-2016,
      span.card__sort 2 сорт
  .card__bot
    .card__price
      span 99 999₽
      | / шт.
    button.btn.secondary-btn.card__buy Купить

li.card
  a.card__link(href="#")
    picture.card__picture
      source(srcset="/static/images/card2.webp" type="image/webp")
      img.card__img(src="/static/images/card2.png" alt="Поддон с обвязкой")
    .card__top
      .card__info
        svg
          use(xlink:href="#card-size")
        | 1200×1000
      .card__info
        svg
          use(xlink:href="#card-weight")
        | 700 кг
    p.card__name Поддон с обвязкой
  .card__bot
    button.btn.secondary-btn.card__buy Запросить стоимость
