section.faq.margin-section
  .container
    h2.title.faq__title Часто задаваемые вопросы
    .faq__list
      ul.faq__col
        li.faq__item.faq-item.accordion
          button.faq-item__title.accordion-btn А поддоны не сломаются?
            svg
              use(xlink:href="#accordion-arrow")
          .faq-item__content.accordion-content
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam cum ea eveniet excepturi incidunt inventore maiores, neque ratione. Commodi distinctio esse fugiat laudantium nisi possimus repellat voluptatem. Enim harum quia quod suscipit ullam! Aut eos et harum, ipsam maxime mollitia nam pariatur porro quia reiciendis. Distinctio, doloribus esse illum ipsam iste laudantium maxime, minus mollitia nisi nobis numquam officiis, omnis repellat sapiente sed sit unde veniam voluptatibus! Harum magnam modi nisi nostrum numquam optio reiciendis similique vitae. Ab accusantium animi assumenda aut cum dolore dolorem ipsum, molestiae nisi obcaecati odio, officiis quibusdam repudiandae rerum voluptatibus! Assumenda dolorum labore vel voluptatibus!
        li.faq__item.faq-item.accordion
          button.faq-item__title.accordion-btn Как быстро доставите?
            svg
              use(xlink:href="#accordion-arrow")
          .faq-item__content.accordion-content
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, vel.
        li.faq__item.faq-item.accordion
          button.faq-item__title.accordion-btn А если мне нужно срочно?
            svg
              use(xlink:href="#accordion-arrow")
          .faq-item__content.accordion-content
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, vel.
        li.faq__item.faq-item.accordion
          button.faq-item__title.accordion-btn Какой объем паллетов считается ОПТ-ом?
            svg
              use(xlink:href="#accordion-arrow")
          .faq-item__content.accordion-content
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, vel.
      ul.faq__col
        li.faq__item.faq-item.accordion
          button.faq-item__title.accordion-btn Я могу сам приехать и забрать заказ?
            svg
              use(xlink:href="#accordion-arrow")
          .faq-item__content.accordion-content
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, vel.
        li.faq__item.faq-item.accordion
          button.faq-item__title.accordion-btn Можно ли заказать много паллетов и одну крышку?
            svg
              use(xlink:href="#accordion-arrow")
          .faq-item__content.accordion-content
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, vel.
        li.faq__item.faq-item.accordion
          button.faq-item__title.accordion-btn Физические лица могут купить паллеты?
            svg
              use(xlink:href="#accordion-arrow")
          .faq-item__content.accordion-content
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, vel.
        li.faq__item.faq-item.accordion
          button.faq-item__title.accordion-btn В другие регионы страны доставляете?
            svg
              use(xlink:href="#accordion-arrow")
          .faq-item__content.accordion-content
            p Lorem ipsum dolor sit amet, consectetur adipisicing elit. Earum, vel.
