footer.footer
  .container
    .footer__wrap
      .footer__content
        .footer__item
          span.footer__title Меню
          ul.footer__list.footer-list
            li.footer-list__item
              a.footer-list__link(href="#") Акции
            li.footer-list__item
              a.footer-list__link(href="#") О нас
            li.footer-list__item
              a.footer-list__link(href="#") Контакты
            li.footer-list__item
              a.footer-list__link(href="#") Скупка паллетов
            li.footer-list__item
              a.footer-list__link(href="#") Блог
          ul.footer__socials.footer-socials
            li.footer-socials__item
              a.footer-socials__link(href="#")
                svg
                  use(xlink:href="#tiktok")
            li.footer-socials__item
              a.footer-socials__link(href="#")
                svg
                  use(xlink:href="#facebook")
            li.footer-socials__item
              a.footer-socials__link(href="#")
                svg
                  use(xlink:href="#instagram")
          span.footer__copy Copyright © 2021
        .footer__item
          span.footer__title Каталог
          ul.footer__list.footer-list
            li.footer-list__item
              a.footer-list__link(href="#") Паллеты, поддоны
            li.footer-list__item
              a.footer-list__link(href="#") Паллетные крышки
            li.footer-list__item
              a.footer-list__link(href="#") Паллетные борта
        .footer__item
          span.footer__title Услуги
          a.footer__terms(href="#") Обработка данных
          ul.footer__list.footer-list
            li.footer-list__item
              a.footer-list__link(href="#") Доставка
            li.footer-list__item
              a.footer-list__link(href="#") Хранение паллетов
        .footer__item
          span.footer__title Контакты
          .footer__info
            .footer__col
              a.footer__link(href="tel:+7 (495) 488-68-67")
                svg
                  use(xlink:href="#phone")
                | +7 (495) 488-68-67
              a.footer__link(href="mailto:poddon@transtara.ru")
                svg
                  use(xlink:href="#mail")
                | poddon@transtara.ru
            .footer__col
              .footer__link
                svg
                  use(xlink:href="#location")
                | М.О. Ленинский район деревня Горки, Промзона владение 23, стр 1
