ul.pagination
  li.pagination__item
    button.pagination__btn.pagination__btn--arr
      svg
        use(xlink:href="#slider-prev")
  li.pagination__item
    a.pagination__btn(href="#") 01
  li.pagination__item
    .pagination__btn.pagination__btn--active 02
  li.pagination__item
    a.pagination__btn(href="#") 03
  li.pagination__item
    a.pagination__btn(href="#") 04
  li.pagination__item
    .pagination__btn.pagination__btn--dots ...
  li.pagination__item
    a.pagination__btn(href="#") 99
  li.pagination__item
    button.pagination__btn.pagination__btn--arr
      svg
        use(xlink:href="#slider-next")

ul.pagination.pagination--mobile
  li.pagination__item
    button.pagination__btn.pagination__btn--arr
      svg
        use(xlink:href="#slider-prev")
  li.pagination__item
    a.pagination__btn(href="#") 01
  li.pagination__item
    .pagination__btn.pagination__btn--active 02
  li.pagination__item
    a.pagination__btn(href="#") 03
  li.pagination__item
    a.pagination__btn(href="#") 04
  li.pagination__item
    button.pagination__btn.pagination__btn--arr
      svg
        use(xlink:href="#slider-next")
