.popup.popup-success#success-popup(style="display: none")
  .popup-success__title Рассчет стоимости
  .popup-success__block
    svg
      use(xlink:href="#popup-success")
    .popup-success__info
      span.popup-success__subtitle Отправлено
      p.popup-success__text С вами свяжется специалит ПН-ПТ 9:00 – 18:00
  .popup-success__block
    svg
      use(xlink:href="#popup-success")
    .popup-success__info
      span.popup-success__subtitle Отправлено
      p.popup-success__text С вами свяжется специалит в течении <span class="star">15 минут</span>
  button.btn.secondary-btn.popup-success__btn(data-fancybox-close)
    svg
      use(xlink:href="#search-close")
    | Закрыть
