.popup.popup-buy#buy(style="display: none")
  .popup-buy__title--tablet Заявка
  .popup-buy__content
    .popup-buy__colwrap
      .popup-buy__col
        p.popup-buy__name--tablet Европоддон фумигированный EUR EPAL ГОСТ 33757-2016, 2 сорт
        ul.popup-buy__images.popup-buy-images
          li.popup-buy-images__item
            picture.popup-buy-images__picture
              source(srcset="/static/images/card1.webp" type="image/webp")
              img.popup-buy-images__img(src="/static/images/card1.png" alt="Европоддон фумигированный EUR EPAL ГОСТ 33757-2016, 2 сорт")
          li.popup-buy-images__item
            picture.popup-buy-images__picture
              source(srcset="/static/images/card2.webp" type="image/webp")
              img.popup-buy-images__img(src="/static/images/card2.png" alt="Европоддон фумигированный EUR EPAL ГОСТ 33757-2016, 2 сорт")
          li.popup-buy-images__item
            picture.popup-buy-images__picture
              source(srcset="/static/images/card1.webp" type="image/webp")
              img.popup-buy-images__img(src="/static/images/card1.png" alt="Европоддон фумигированный EUR EPAL ГОСТ 33757-2016, 2 сорт")
          li.popup-buy-images__item
            picture.popup-buy-images__picture
              source(srcset="/static/images/card2.webp" type="image/webp")
              img.popup-buy-images__img(src="/static/images/card2.png" alt="Европоддон фумигированный EUR EPAL ГОСТ 33757-2016, 2 сорт")
          li.popup-buy-images__item
            picture.popup-buy-images__picture
              source(srcset="/static/images/card1.webp" type="image/webp")
              img.popup-buy-images__img(src="/static/images/card1.png" alt="Европоддон фумигированный EUR EPAL ГОСТ 33757-2016, 2 сорт")
    .popup-buy__colwrap
      .popup-buy__col
        p.popup-buy__name Европоддон фумигированный EUR EPAL ГОСТ 33757-2016, 2 сорт
        .goodpage-info__row
          span.goodpage-info__property Категория
          span.goodpage-info__dash
          span.goodpage-info__property Деревянный поддон
        .goodpage-info__row
          span.goodpage-info__property Состояние
          span.goodpage-info__dash
          span.goodpage-info__property Б/У
        .goodpage-info__row
          span.goodpage-info__property Сорт
          span.goodpage-info__dash
          span.goodpage-info__property 2 сорт
        .goodpage-info__row
          span.goodpage-info__property ГОСТ
          span.goodpage-info__dash
          span.goodpage-info__property 33757-2016
        .goodpage-info__row
          span.goodpage-info__property Клеймо
          span.goodpage-info__dash
          span.goodpage-info__property Отсутствует
        .goodpage-info__row
          span.goodpage-info__property Вес
          span.goodpage-info__dash
          span.goodpage-info__property 1,5 кг
        .goodpage-info__row
          span.goodpage-info__property Грузоподъемность
          span.goodpage-info__dash
          span.goodpage-info__property до 1500 кг
        .goodpage-info__line
        .goodpage-info__row
          span.goodpage-info__property Длина
          span.goodpage-info__dash
          span.goodpage-info__property 800 мм
        .goodpage-info__row
          span.goodpage-info__property Ширина
          span.goodpage-info__dash
          span.goodpage-info__property 1200 мм
        .goodpage-info__row
          span.goodpage-info__property Высота
          span.goodpage-info__dash
          span.goodpage-info__property 144 мм
    .popup-buy__colwrap
      .popup-buy__title Заявка
      form.popup-buy__col
        .input-block
          input.callback__input(type="text" name="name" placeholder=" " data-required)
          label Имя
            span.input-hintreq *
        .input-block
          input.callback__input(type="tel" name="phone" placeholder=" " data-type="tel" data-required)
          label Телефон
            span.input-hintreq *
        .popup-buy__row
          .input-block
            input.callback__input.input-ok(type="text" name="num" value="1" placeholder=" " data-type="num" data-required)
            label Кол-во
          button.btn.secondary-btn.popup-buy__btnnum.popup-buy__btnnum--minus
            svg
              use(xlink:href="#popup-buy-minus")
          button.btn.secondary-btn.popup-buy__btnnum.popup-buy__btnnum--plus
            svg
              use(xlink:href="#popup-buy-plus")
        .goodpage-info__line
        .popup-buy__row
          label.popup-buy__receiving
            input(type="radio" name="receiving" value="delivery" checked)
            span Доставка
          label.popup-buy__receiving
            input(type="radio" name="receiving" value="pickup")
            span Самовывоз
        .popup-buy__pickup(style="display: none")
          select
            option(value="МО, Ленинский р-н, д.Горки, Промзона, вл.23 ") МО, Ленинский р-н, д.Горки, Промзона, вл.23
            option(value="Деревянные поддоны") Деревянные поддоны
            option(value="Поддоны ГОСТ") Поддоны ГОСТ
        .popup-buy__delivery
          .input-block
            input.callback__input(type="text" name="address" placeholder=" " data-required)
            label Адрес
              span.input-hintreq *
        button.btn.primary-btn.popup-buy__btn(type="submit" data-validate) Готово
        label.callback__label
          input.input-ok(type="checkbox" checked  data-type="checkbox" data-required)
          span Даю согласие на
            a(href="#") обработку персональных данных
