.popup.popup-buy#buy(style="display: none")
  .popup-buy__title--tablet Заявка
  .popup-buy__content
    .popup-buy__colwrap
      .popup-buy__col
        p.popup-buy__name--tablet Европоддон фумигированный EUR EPAL ГОСТ 33757-2016, 2 сорт
        ul.popup-buy__images.popup-buy-images
          li.popup-buy-images__item
            picture.popup-buy-images__picture
              source(srcset="/static/images/card1.webp" type="image/webp")
              img.popup-buy-images__img(src="/static/images/card1.png" alt="Европоддон фумигированный EUR EPAL ГОСТ 33757-2016, 2 сорт")
          li.popup-buy-images__item
            picture.popup-buy-images__picture
              source(srcset="/static/images/card2.webp" type="image/webp")
              img.popup-buy-images__img(src="/static/images/card2.png" alt="Европоддон фумигированный EUR EPAL ГОСТ 33757-2016, 2 сорт")
          li.popup-buy-images__item
            picture.popup-buy-images__picture
              source(srcset="/static/images/card1.webp" type="image/webp")
              img.popup-buy-images__img(src="/static/images/card1.png" alt="Европоддон фумигированный EUR EPAL ГОСТ 33757-2016, 2 сорт")
          li.popup-buy-images__item
            picture.popup-buy-images__picture
              source(srcset="/static/images/card2.webp" type="image/webp")
              img.popup-buy-images__img(src="/static/images/card2.png" alt="Европоддон фумигированный EUR EPAL ГОСТ 33757-2016, 2 сорт")
          li.popup-buy-images__item
            picture.popup-buy-images__picture
              source(srcset="/static/images/card1.webp" type="image/webp")
              img.popup-buy-images__img(src="/static/images/card1.png" alt="Европоддон фумигированный EUR EPAL ГОСТ 33757-2016, 2 сорт")
    .popup-buy__colwrap
      .popup-buy__col
        p.popup-buy__name Европоддон фумигированный EUR EPAL ГОСТ 33757-2016, 2 сорт
        .goodpage-info__row
          span.goodpage-info__property Категория
          span.goodpage-info__dash
          span.goodpage-info__property Деревянный поддон
        .goodpage-info__row
          span.goodpage-info__property Состояние
          span.goodpage-info__dash
          span.goodpage-info__property Б/У
        .goodpage-info__row
          span.goodpage-info__property Сорт
          span.goodpage-info__dash
          span.goodpage-info__property 2 сорт
        .goodpage-info__row
          span.goodpage-info__property ГОСТ
          span.goodpage-info__dash
          span.goodpage-info__property 33757-2016
        .goodpage-info__row
          span.goodpage-info__property Клеймо
          span.goodpage-info__dash
          span.goodpage-info__property Отсутствует
        .goodpage-info__row
          span.goodpage-info__property Вес
          span.goodpage-info__dash
          span.goodpage-info__property 1,5 кг
        .goodpage-info__row
          span.goodpage-info__property Грузоподъемность
          span.goodpage-info__dash
          span.goodpage-info__property до 1500 кг
        .goodpage-info__line
        .goodpage-info__row
          span.goodpage-info__property Длина
          span.goodpage-info__dash
          span.goodpage-info__property 800 мм
        .goodpage-info__row
          span.goodpage-info__property Ширина
          span.goodpage-info__dash
          span.goodpage-info__property 1200 мм
        .goodpage-info__row
          span.goodpage-info__property Высота
          span.goodpage-info__dash
          span.goodpage-info__property 144 мм
    .popup-buy__colwrap
      .popup-buy__title Заявка
      .popup-buy__col
