@import '~normalize.css';
@import 'variables/mixins';
@import 'variables/indents';

:root {
  --background: #ffffff;
  --background-card: #f9f9f9;
  --orange: #ff6300;
  --orange-hover: #da5500;
  --orange-click: #993b00;
  --platinum: #f0f0f0;
  --silver: #c0c0c0;
  --blue: #3a6ea5;
  --blue-hover: #004e98;
  --blue-click: #002e5a;
  --black-line: #000000;
  --black-text: #000000;
  --white-text: #ffffff;
  --grey-text: #c0c0c0;
  --selection-color: rgba(255, 99, 0, 0.99);
  --img-selection-color: rgba(255, 99, 0, 0.5);
  --error: #ed1717;
}

::selection {
  color: var(--background);
  background-color: var(--selection-color);
}

img::selection {
  background-color: var(--img-selection-color);
}

img::-moz-selection {
  background-color: var(--img-selection-color);
}

@media screen and (min-width: 1200px) {
  ::-webkit-scrollbar {
    width: 0.6rem;
  }
  ::-webkit-scrollbar-button {
    display: none;
  }
  ::-webkit-scrollbar-thumb {
    background: var(--orange);
    border-radius: 0.2rem;
  }
  ::-webkit-scrollbar-track {
    background: var(--background);
  }
}

html {
  background-color: var(--background);
  overflow-x: hidden;
  font-size: 10px;
  @include more-fullhd {
    font-size: 0.52vw;
  }
  &.with-fancybox {
    overflow: hidden;
  }
}

body {
  font-family: 'IBM Plex Sans', sans-serif;
  color: var(--black-text);
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-font-smoothing: antialiased;
  transition: opacity 0.2s;
  &.compensate-for-scrollbar {
    overflow: visible !important;
  }
  @include w767 {
    font-size: clamp(1.4rem, calc(1.4rem + 0.2 * (100vw - 36rem) / 40.8), 1.6rem);
    line-height: 1.43;
  }
}

.sprite {
  display: none;
}

.wrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 100vh;
}

.content {
  flex: 1;
}

.container {
  width: 100%;
  max-width: 124.8rem;
  margin: 0 auto;
  padding: $padding-container;
  @include w767 {
    padding: $mobile-padding-container;
  }
}

.margin-section {
  margin-bottom: $margin-section;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

*:focus {
  outline: none;
}

ul,
ol {
  margin: 0;
}

p {
  margin-top: 0;
  margin-bottom: 2.4rem;
  &:last-child {
    margin-bottom: 0;
  }
}

a {
  color: inherit;
  text-decoration: none;
  transition: color 0.2s;
  &:not([class]),
  &[class='focus-visible'],
  &[class=''] {
    margin-left: 0.4rem;
    color: var(--orange);
    @include hover {
      &:hover,
      &:focus {
        text-decoration: underline;
      }
      &:active {
        color: var(--orange-click);
      }
    }
    @include active {
      &:active {
        text-decoration: underline;
        color: var(--orange-click);
      }
    }
  }
}

img {
  display: block;
  max-width: 100%;
}

input,
textarea,
button,
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  appearance: none;
  color: var(--black-text);
  padding: 0;
}

input[type='number'] {
  -moz-appearance: textfield;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  border: 0;
  clip: rect(0 0 0 0);
}

.title {
  margin-top: 0;
  margin-bottom: 5.2rem;
  font-weight: bold;
  font-size: 3.6rem;
  line-height: 1.44;
  @include w767 {
    margin-bottom: 3.5rem;
    font-size: clamp(2.6rem, calc(2.6rem + 1 * (100vw - 36rem) / 40.8), 3.6rem);
    line-height: 1.38;
  }
}

.btn {
  display: inline-block;
  border: none;
  border-radius: 0.4rem;
  text-align: center;
  font-weight: 500;
  font-size: 1.6rem;
  line-height: 1.5;
  transition: background 0.2s, color 0.2s;
  cursor: pointer;
  @include w767 {
    font-size: 1.4rem;
    line-height: 1.43;
  }
  path {
    transition: 0.2s;
  }
}

.primary-btn {
  background: var(--orange);
  color: var(--background);
  transition: background 0.2s;
  @include hover {
    &:hover,
    &:focus {
      background: var(--orange-hover);
    }
    &:active {
      background: var(--orange-click);
    }
  }
  @include active {
    &:active {
      background: var(--orange-click);
    }
  }
}

.secondary-btn {
  background: var(--platinum);
  color: var(--black-text);
  transition: color 0.2s;
  @include hover {
    &:hover,
    &:focus {
      color: var(--orange);
    }
    &:active {
      color: var(--orange-click);
    }
  }
  @include active {
    &:active {
      color: var(--orange-click);
    }
  }
  &[disabled] {
    pointer-events: none;
    color: var(--silver);
  }
  path {
    transition: 0.2s;
  }
}

.tertiary-btn {
  background: var(--blue);
  color: var(--background);
  transition: background 0.2s;
  @include hover {
    &:hover,
    &:focus {
      background: var(--blue-hover);
    }
    &:active {
      background: var(--blue-click);
    }
  }
  @include active {
    &:active {
      background: var(--blue-click);
    }
  }
}

.star {
  color: var(--orange);
}

.input {
  &-block {
    position: relative;
    label {
      position: absolute;
      top: 0.7rem;
      left: 1.4rem;
      padding: 0 1rem;
      font-weight: 500;
      line-height: 1.67;
      color: var(--silver);
      pointer-events: none;
      transition: 0.2s;
    }
  }
}

input:not([type]),
input[type='text'],
input[type='tel'],
input[type='email'],
input[type='password'],
textarea {
  width: 100%;
  border: 0.1rem solid var(--silver);
  background: none;
  font-weight: 500;
  font-size: 1.6rem;
  color: var(--black-text);
  transition: border-color 0.2s;
  &::placeholder {
    color: var(--silver);
  }
  &:not(:placeholder-shown) + label,
  &:focus + label {
    top: -0.9rem;
    font-size: 1.2rem;
  }
  &.input-err {
    border-color: var(--error);
    & + label {
      color: var(--error);
    }
  }
  &.input-ok {
    border-color: var(--black-line);
    & + label {
      color: var(--black-line);
    }
  }
}

input:not([type]),
input[type='text'],
input[type='tel'],
input[type='email'],
input[type='password'] {
  height: 4rem;
  padding: 0 2.3rem;
  border-radius: 0.4rem;
}

.submenu {
  opacity: 0;
  visibility: hidden;
  transform: translateY(0.6rem);
  transition: opacity 0.2s, transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), visibility 0s 0.2s;
  &.active {
    opacity: 1;
    visibility: visible;
    transform: none;
    transition: opacity 0.2s, transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), visibility 0s 0s;
  }
}

.fancybox {
  &__button {
    &--zoom,
    &--slideshow,
    &--fullscreen,
    &--thumbs {
      display: none;
    }
  }
  &__toolbar {
    background: none;
  }
  &__slide {
    padding: 0;
  }
  &__content :focus:not(.carousel__button.is-close) {
    outline: none;
  }
}

.popup {
  background: var(--background);
  box-shadow: 0 0.8rem 3.2rem rgba(0, 0, 0, 0.12);
  border-radius: 0.8rem;
  @include w767 {
    border-radius: 0.8rem 0.8rem 0 0;
  }
  .carousel__button.is-close {
    @include hover {
      &:hover,
      &:focus {
        box-shadow: none;
        svg {
          color: var(--orange);
        }
      }
      &:active {
        box-shadow: none;
        svg {
          color: var(--orange-click);
        }
      }
    }
    @include active {
      &:active {
        box-shadow: none;
        svg {
          color: var(--orange-click);
        }
      }
    }
    svg {
      transition: color 0.2s;
    }
  }
  &__wrap {
    .fancybox__backdrop {
      background: rgba(0, 0, 0, 0.12);
    }
    .fancybox__slide {
      @include w767 {
        padding: 0;
      }
      &:after {
        @include w767 {
          margin: 0;
        }
      }
    }
  }
  &__menu {
    z-index: 99;
    .fancybox {
      &__slide {
        padding: 0;
      }
      &__backdrop {
        background: var(--background);
      }
    }
  }
}

.choices {
  &[data-type*='select-one'] {
    cursor: default;
    &.is-open {
      &:after {
        transform: translateY(-20%) rotate(45deg) scale(-1);
        margin-top: 0;
        border-bottom: 0.2rem solid var(--black-line);
        border-right: 0.2rem solid var(--black-line);
      }
      .choices__inner {
        border-radius: 0.4rem;
      }
    }
    &:after {
      transform: translateY(-70%) rotate(45deg);
      right: 3rem;
      width: 1.1rem;
      height: 1.1rem;
      margin-top: 0;
      border: none;
      border-radius: 0.2rem;
      border-bottom: 0.2rem solid var(--black-line);
      border-right: 0.2rem solid var(--black-line);
    }
  }
  &.is-focused {
    .choices__list--single {
      color: var(--orange);
    }
    .choices__list--dropdown .a {
      color: var(--orange);
    }
  }
  &.is-flipped {
    .choices__list--dropdown {
      bottom: calc(100% + 1.6rem);
      &:before {
        top: 100%;
        transform: scale(-1);
      }
    }
  }
  &__inner {
    min-height: auto;
    padding: 0.7rem 5.4rem 0.7rem 2.3rem !important;
    border-color: var(--silver);
    border-radius: 0.4rem;
    background-color: transparent;
    font-weight: 500;
    font-size: 1.6rem;
    cursor: pointer;
    @include hover {
      &:hover {
        color: var(--orange);
      }
      &:active {
        color: var(--orange-click);
      }
    }
    @include active {
      &:active {
        color: var(--orange-click);
      }
    }
    @include w1200 {
      padding: 0.7rem 4rem 0.7rem 2.3rem !important;
    }
    @include w767 {
      padding: 0.9rem 4rem 0.9rem 2.3rem !important;
      font-size: 1.4rem;
    }
  }
  &__list {
    &--single {
      padding: 0;
      transition: color 0.2s;
    }
    &--dropdown {
      z-index: 2;
      top: calc(100% + 1.6rem);
      padding: 1.6rem 0;
      background: var(--background-card);
      box-shadow: 0 0 3.2rem rgba(0, 0, 0, 0.2);
      border-radius: 0.8rem;
      border: none;
      word-break: normal;
      overflow: visible;
      opacity: 0;
      visibility: hidden;
      transform: translateY(0.6rem);
      transition: opacity 0.2s, transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), visibility 0s 0.2s;
      &.is-active {
        opacity: 1;
        visibility: visible;
        transform: none;
        transition: opacity 0.2s, transform 0.3s cubic-bezier(0.215, 0.61, 0.355, 1), visibility 0s 0s;
      }
      &:before {
        content: '';
        position: absolute;
        top: -1.6rem;
        right: 2rem;
        width: 3.2rem;
        height: 1.6rem;
        background: url('../images/submenu-arrow.svg') center/contain no-repeat;
      }
      .choices__item {
        display: flex;
        padding: 0.8rem 2rem 0.8rem 3.2rem;
        font-weight: 500;
        font-size: 1.6rem;
        transition: color 0.2s;
        @include hover {
          &:hover {
            color: var(--orange);
          }
          &:active {
            color: var(--orange-click);
          }
        }
        @include active {
          &:active {
            color: var(--orange-click);
          }
        }
        @include w1200 {
          padding: 0.8rem 1rem 0.8rem 1.8rem;
        }
        &:before {
          content: '';
          width: 2rem;
          height: 2rem;
          flex-shrink: 0;
          margin-right: 1.8rem;
          border-radius: 50%;
          border: 0.2rem solid var(--black-line);
          @include w1200 {
            margin-right: 1rem;
          }
        }
      }
    }
  }
  &__item {
    &.is-selected {
      &:before {
        border-color: var(--orange);
      }
      &:after {
        content: '';
        position: absolute;
        top: 1.8rem;
        left: 3.8rem;
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 50%;
        background-color: var(--orange);
        opacity: 1;
        @include w1200 {
          left: 2.4rem;
        }
        @include w767 {
          top: 1.4rem;
        }
      }
    }
  }
}

[data-label] {
  position: relative;
  &:before {
    content: attr(data-label);
    position: absolute;
    z-index: 2;
    top: -1rem;
    left: 1.4rem;
    padding: 0 1rem;
    background-color: var(--background);
    font-weight: 500;
    font-size: 1.2rem;
    line-height: 1.67;
    color: var(--silver);
    pointer-events: none;
  }
}

@import 'blocks/common/header';
@import 'blocks/common/breadcrumbs';
@import 'blocks/common/footer';
@import 'blocks/common/card';
@import 'blocks/common/reviews';
@import 'blocks/common/faq';
@import 'blocks/common/callback';
@import 'blocks/common/pagination';
@import 'blocks/common/popup-buy';
@import 'blocks/common/popup-callback';
@import 'blocks/common/popup-success';
@import 'blocks/common/popup-menu';
@import 'blocks/common/popup-filters';
@import 'blocks/mainpage/banner';
@import 'blocks/mainpage/categories';
@import 'blocks/mainpage/promo';
@import 'blocks/mainpage/benefits';
@import 'blocks/mainpage/leaders';
@import 'blocks/mainpage/info';
@import 'blocks/otherpages/hidetext';
@import 'blocks/otherpages/mission';
@import 'blocks/otherpages/history';
@import 'blocks/otherpages/catalog';
@import 'blocks/otherpages/goodpage';
@import 'blocks/otherpages/service';
@import 'blocks/otherpages/blog';
@import 'blocks/otherpages/reviews';
@import 'blocks/otherpages/search';
@import 'blocks/otherpages/404';
@import 'blocks/otherpages/text';
