extends ../template

block variables
  - var title = 'Блог детальная страница'
  - var breadcrumbs = ['Главная', 'Блог', 'В чем отличие Европоддона от обычного?']

block content
  section.text.margin-section
    .container
      .text__content
        h1.title В чем отличие Европоддона от поддона?
        picture
          source(srcset="/static/images/service.jpg" type="image/webp")
          img(src="/static/images/service.jpg" alt="В чем отличие Европоддона от поддона?")
        p Вот вам яркий пример современных тенденций - разбавленное изрядной долей эмпатии, рациональное мышление создаёт предпосылки для существующих финансовых и административных условий. В своём стремлении улучшить пользовательский опыт мы упускаем, что базовые сценарии поведения пользователей, инициированные исключительно синтетически, превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высокотехнологичная концепция общественного уклада предполагает независимые способы реализации системы массового участия! (пример текста, необходимо заменить)

  include ../includes/callback
