extends ../template

block variables
  - var title = 'Страница товара'
  - var breadcrumbs = ['Главная', 'Каталог', 'Паллеты', 'Европоддон фумигированный EUR EPAL ГОСТ 33757-2016, 2 сорт']

block content
  section.catalog.margin-section
    .container
      h1.title Европоддон фумигированный EUR EPAL ГОСТ 33757-2016, 2 сорт
