extends ../template

block variables
  - var title = 'Страница товара'
  - var breadcrumbs = ['Главная', 'Каталог', 'Паллеты', 'Европоддон фумигированный EUR EPAL ГОСТ 33757-2016, 2 сорт']

block content
  section.goodpage.margin-section
    .container
      h1.title.goodpage__title Европоддон фумигированный EUR EPAL ГОСТ 33757-2016, 2 сорт
      .goodpage__wrap
        .goodpage__content
          .swiper.margin-section.goodpage__gallery.goodpage-gallery
            ul.swiper-wrapper.goodpage-gallery__wrapper
              li.swiper-slide.goodpage-gallery__slide.goodpage-gallery-slide
                a(data-fancybox="good" href="/static/images/card1.png")
                  picture.goodpage-gallery-slide__picture
                    source(srcset="/static/images/card1.webp" type="image/webp")
                    img.goodpage-gallery-slide__img(src="/static/images/card1.png" alt="Европоддон фумигированный EUR EPAL ГОСТ 33757-2016, 2 сорт")
              li.swiper-slide.goodpage-gallery__slide.goodpage-gallery-slide
                a(data-fancybox="good" href="/static/images/card2.png" tabindex="-1")
                  picture.goodpage-gallery-slide__picture
                    source(srcset="/static/images/card2.webp" type="image/webp")
                    img.goodpage-gallery-slide__img(src="/static/images/card2.png" alt="Европоддон фумигированный EUR EPAL ГОСТ 33757-2016, 2 сорт")
              li.swiper-slide.goodpage-gallery__slide.goodpage-gallery-slide
                a(data-fancybox="good" href="/static/images/card1.png" tabindex="-1")
                  picture.goodpage-gallery-slide__picture
                    source(srcset="/static/images/card1.webp" type="image/webp")
                    img.goodpage-gallery-slide__img(src="/static/images/card1.png" alt="Европоддон фумигированный EUR EPAL ГОСТ 33757-2016, 2 сорт")
              li.swiper-slide.goodpage-gallery__slide.goodpage-gallery-slide
                a(data-fancybox="good" href="/static/images/card2.png" tabindex="-1")
                  picture.goodpage-gallery-slide__picture
                    source(srcset="/static/images/card2.webp" type="image/webp")
                    img.goodpage-gallery-slide__img(src="/static/images/card2.png" alt="Европоддон фумигированный EUR EPAL ГОСТ 33757-2016, 2 сорт")
              li.swiper-slide.goodpage-gallery__slide.goodpage-gallery-slide
                a(data-fancybox="good" href="/static/images/card1.png" tabindex="-1")
                  picture.goodpage-gallery-slide__picture
                    source(srcset="/static/images/card1.webp" type="image/webp")
                    img.goodpage-gallery-slide__img(src="/static/images/card1.png" alt="Европоддон фумигированный EUR EPAL ГОСТ 33757-2016, 2 сорт")
            button.btn.secondary-btn.goodpage-gallery__arr.goodpage-gallery__arr--prev
              svg
                use(xlink:href="#goodpage-prev")
            button.btn.secondary-btn.goodpage-gallery__arr.goodpage-gallery__arr--next
              svg
                use(xlink:href="#goodpage-next")
            .goodpage-gallery__pagination
          .goodpage__text
            p Вот вам яркий пример современных тенденций - разбавленное изрядной долей эмпатии, рациональное мышление создаёт предпосылки для существующих финансовых и административных условий. В своём стремлении улучшить пользовательский опыт мы упускаем, что базовые сценарии поведения пользователей, инициированные исключительно синтетически, превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высокотtехнологичная концепция общественного уклада предполагает независимые способы реализации системы массового участия! (пример текста, необходимо заменить)

        .scroll-block.goodpage__info.goodpage-info
          .goodpage-info__row
            span.goodpage-info__property Категория
            span.goodpage-info__dash
            span.goodpage-info__property Деревянный поддон
          .goodpage-info__row
            span.goodpage-info__property Состояние
            span.goodpage-info__dash
            span.goodpage-info__property Б/У
          .goodpage-info__row
            span.goodpage-info__property Сорт
            span.goodpage-info__dash
            span.goodpage-info__property 2 сорт
          .goodpage-info__row
            span.goodpage-info__property ГОСТ
            span.goodpage-info__dash
            span.goodpage-info__property 33757-2016
          .goodpage-info__row
            span.goodpage-info__property Клеймо
            span.goodpage-info__dash
            span.goodpage-info__property Отсутствует
          .goodpage-info__row
            span.goodpage-info__property Вес
            span.goodpage-info__dash
            span.goodpage-info__property 1,5 кг
          .goodpage-info__row
            span.goodpage-info__property Грузоподъемность
            span.goodpage-info__dash
            span.goodpage-info__property до 1500 кг
          .goodpage-info__line
          .goodpage-info__row
            span.goodpage-info__property Длина
            span.goodpage-info__dash
            span.goodpage-info__property 800 мм
          .goodpage-info__row
            span.goodpage-info__property Ширина
            span.goodpage-info__dash
            span.goodpage-info__property 1200 мм
          .goodpage-info__row
            span.goodpage-info__property Высота
            span.goodpage-info__dash
            span.goodpage-info__property 144 мм
          .goodpage-info__buy
            .goodpage-info__price
              span 890₽
                span.star *
              | / шт.
            button.btn.primary-btn.goodpage-info__btn(data-fancybox data-src="#buy-popup") Купить
          p.goodpage-info__text <span class="star">*</span> Без учета доставки и дополнительных услуг.
          a.goodpage-info__link(href="#") От чего зависит цена?
            svg
              use(xlink:href="#question mark")
          a.goodpage-info__link(href="#") Можно фумигировать
            svg
              use(xlink:href="#question mark")
      p.goodpage__text.goodpage__text--mobile Вот вам яркий пример современных тенденций - разбавленное изрядной долей эмпатии, рациональное мышление создаёт предпосылки для существующих финансовых и административных условий. В своём стремлении улучшить пользовательский опыт мы упускаем, что базовые сценарии поведения пользователей, инициированные исключительно синтетически, превращены в посмешище, хотя само их существование приносит несомненную пользу обществу. Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: высокотtехнологичная концепция общественного уклада предполагает независимые способы реализации системы массового участия! (пример текста, необходимо заменить)
  include ../includes/fag
  include ../includes/callback
