extends ../template

block variables
  - var title = 'Карта сайта'

block content
  style.
    .title {
      margin-bottom: 3rem;
    }
    table {
      width: 100%;
      border-collapse: collapse;
    }
    td {
      width: 50%;
      border: 0.1rem solid var(--black-text);
      transition: background-color .1s;
    }
    td a {
      display: block;
      margin: 0!important;
      padding: 2rem;
      color: var(--black-text)!important;
      text-decoration: none!important;
      font-size: 1.6rem;
      transition: background-color 0.2s;
    }
    td a:hover,
    td a:focus-visible {
      background-color: var(--platinum);
    }
    @media screen and (max-width: 767px) {
      tr,
      td {
        display: block;
      }
      tr:not(:last-child) td {
        border-bottom: none;
      }
      td {
        width: 100%;
      }
      td a {
        padding: 1rem;
      }
    }

  .container.margin-section
    h1.title Карта сайта
    table
      tbody
        tr
          td
            a(href="main.html" target="_blank") Главная
        tr
          td
            a(href="about.html" target="_blank") О компании
