.hidetext {
  &__pseudotitle {
    @include w767 {
      display: none;
    }
    &--tablet {
      display: none;
      @include w767 {
        display: block;
      }
    }
  }
  &__container {
    display: flex;
    align-items: flex-start;
    @include w767 {
      flex-direction: column;
    }
    .title {
      @include w1023 {
        margin-bottom: 2.4rem;
      }
    }
  }
  &__col {
    &:last-child {
      flex: 0 0 29.3%;
      margin-left: 6.05%;
      @include w1200 {
        flex: 0 0 calc((100% - 7.2rem) / 3);
        margin-left: 3.6rem;
      }
      @include w767 {
        order: -1;
        flex: auto;
        width: 100%;
        margin-left: 0;
      }
    }
  }
  &__text {
    margin-bottom: 3.2rem;
    display: block;
    overflow: hidden;
    transition: height 0.3s;
    @include w1023 {
      margin-bottom: 2rem;
    }
    @include w767 {
      margin-bottom: 1.7rem;
    }
  }
  &__btn {
    display: none;
    align-items: center;
    padding: 0;
    border: none;
    background: none;
    font-weight: 500;
    color: var(--orange);
    cursor: pointer;
    transition: color 0.2s;
    @include hover {
      &:hover,
      &:focus {
        color: var(--orange-hover);
      }
      &:active {
        color: var(--orange-click);
      }
    }
    @include active {
      &:active {
        color: var(--orange-click);
      }
    }
    &:before {
      content: attr(data-more);
    }
    &--active {
      display: flex;
    }
    &--less {
      &:before {
        content: attr(data-less);
      }
      svg {
        transform: scale(-1);
      }
    }
    svg {
      width: 2.4rem;
      height: 2.4rem;
      margin-left: 1rem;
    }
  }
  &__picture {
    position: relative;
    display: block;
    padding-bottom: 100%;
    filter: drop-shadow(0 0.8rem 3.2rem rgba(0, 0, 0, 0.12));
    @include w767 {
      margin-bottom: 3.6rem;
      padding-bottom: 0;
    }
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.8rem;
    @include w767 {
      position: static;
    }
  }
}
