.service {
  &__pseudotitle {
    @include w1023 {
      display: none;
    }
    &--tablet {
      display: none;
      @include w1023 {
        display: block;
      }
    }
  }
  &__content {
    display: flex;
    @include w1023 {
      flex-direction: column;
    }
  }
  &__main {
    .service__callback {
      display: none;
      @include w1023 {
        display: block;
      }
    }
  }
  &__aside {
    display: flex;
    flex-direction: column;
    flex: 0 0 29.3%;
    margin-left: 6.05%;
    @media screen and (max-width: 1200px) {
      flex: 0 0 calc((100% - 7.2rem) / 3);
      margin-left: 3.6rem;
    }
    @include w1023 {
      order: -1;
      flex: auto;
      margin-left: 0;
    }
  }
  &__picture {
    position: relative;
    display: block;
    margin-bottom: 7.2rem;
    padding-bottom: 100%;
    filter: drop-shadow(0 0.8rem 3.2rem rgba(0, 0, 0, 0.12));
    @include w1023 {
      margin-bottom: 2.4rem;
      padding-bottom: 55.55%;
    }
    @include w767 {
      padding-bottom: 57.6%;
    }
  }
  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 0.8rem;
  }
  &__col {
    position: relative;
    flex: 1;
  }
  &__callback {
    position: sticky;
    top: 10rem;
    padding: 2.4rem 3.2rem 3.2rem;
    background: var(--background-card);
    box-shadow: 0 0.8rem 3.2rem rgba(0, 0, 0, 0.12);
    border-radius: 0.4rem;
    @include w1023 {
      display: none;
      margin-top: 12rem;
    }
    @include w767 {
      padding: 2.4rem 3.2rem;
    }
  }
  &-callback {
    text-align: center;
    &__title {
      margin-bottom: 1.6rem;
      font-weight: 600;
    }
    &__text {
      margin-bottom: 1.6rem;
    }
    &__btn {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      padding: 0.8rem 0;
      @include w767 {
        padding: 1rem 0;
      }
      svg {
        width: 2.4rem;
        height: 2.4rem;
        margin-right: 1rem;
        @include w767 {
          width: 2rem;
          height: 2rem;
        }
      }
    }
  }
}
