@mixin more-fullhd {
  @media screen and (min-width: 1921px) {
    @content;
  }
}
@mixin w1440 {
  @media screen and (max-width: 1440px) {
    @content;
  }
}
@mixin w1400 {
  @media screen and (max-width: 1400px) {
    @content;
  }
}
@mixin w1366 {
  @media screen and (max-width: 1366px) {
    @content;
  }
}
@mixin w1200 {
  @media screen and (max-width: 1200px) {
    @content;
  }
}
@mixin w1023 {
  @media screen and (max-width: 1023px) {
    @content;
  }
}
@mixin w767 {
  @media screen and (max-width: 767px) {
    @content;
  }
}
@mixin w359 {
  @media screen and (max-width: 359px) {
    @content;
  }
}
@mixin hover {
  @media (any-hover: hover) and (pointer: fine) {
    @content;
  }
}
@mixin active {
  @media (any-pointer: coarse) {
    @content;
  }
}
